<html>
    <head>
        <title>Weather ☀️</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
		<!-- CSS --> 
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"} />
	</head>
    <body>
		<div class="weather">
			<h1>Weather ☀️</h1>

			<form action="{{ url_for("testfunction") }}" method="POST">
				<input type="text" name="weather" placeholder="Enter a location..">
				<input type="submit" value="Get weather">	
				
				<!-- This will stop the negative margin in the class "weather" from pulling
				the footer up, and covering any content -->
				<div class="footer">	
			</form>
		</div>

		<footer class="footer">
			<p>Made with &hearts; by <a href="https://github.com/dps910">dps</a></p> 
		</footer>
    </body>
</html>
